body {
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  display: inline;
}

.btn{
  font-size: 20px;
  color: #3e3e3e;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover, .modalbtn:hover{
  transition: background-color 0.3s ease-in-out;
  background-color: #383838;
  color: #fff;
}

.modalBtn{
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #000;
  background-color: #fff;
  float: right;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.description {
  color: #3c3c3c;
  text-align: justify;
  display: inline;
  word-wrap: break-word;
}

.navContainer {
  display: block;
  overflow: auto;
  background-color: #000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.navContainer img {
  width: 80px;
  height: 80px;
  float: left;
}

.navAndLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navAndLogo img{
  margin-left: 10%;
}

nav {
  float: left;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 30px 40px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

nav ul li:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #383838;
}

nav ul li a {
  color: #ccc;
  text-decoration: none;
}

.social, .shoppingCartCounter{
  position: relative;
  display: inline;
  float: right;
  top: 25px;
}

.shoppingCartCounter{
  margin: 5px;
  width: 200px;
  top: 20px;
}

.shoppingCartCounter a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.social a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  margin: 15px;
}

.filterContainer {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin-right: 10%;
}

.filterContainer form{
  position: relative;
  margin-top: 20%;
}

.filterContainer form input {
  margin: 10px;
  font-size: 20px;
  min-width: 350px;
  padding: 10px;
  border-radius: 4px;
  outline: none;
}

.jewelsList {
  align-self:center;
  display: block;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.jewelCard {
  background-color: #fff;
  border: 1px solid #3e3e3e;
  border-radius: 6px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 5px;
  align-self: auto;
}

.jewelListElement{
  min-width: 290px;
  max-width: 290px;
  min-height: 240px;
}

.cardImage {
  padding: 10px;
  height: 100px;
  background-color: #cecece;
  border-bottom: 1px solid #3e3e3e;
  border-radius: 4px 4px 0px 0px;
}

.cardImage img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.jewelDetails {
  padding: 5px;
  margin: 0px;
}

.modalContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.modalBody {
  min-width: 600px;
  min-height: 500px;
  display: inline-block;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 10px;
}

.modalBody img {
  max-width: 70%;
  max-height: 70%;
  display: block;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .modalBody {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 30px;
  }

  .modalBody button {
    margin-right: 10px;
  }

  .modalBody img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

.contactForm{
  background-color: #fff;
  min-width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactForm fieldset{
  padding: 5px;
  margin: 5px;
  width: auto;
  border-radius: 4px;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}

.controlGroup{
  position: relative;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contactForm label{
  position: relative;
  margin-bottom: 1px;
}

.contactForm input, .contactForm textarea{
  margin-bottom: 3px;
  font-size: 20px;
  resize: none;
}

.contactForm button{
  position: relative;
  float: right;
}

.messageLabel{
  vertical-align: top;
}

.cartProducts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}


.cartJewelCard{
  min-width: 150px;
  max-width: 150px;
  min-height: 160px;
}

.cartJewelCard img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.cartJewelCard button{
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
}

.addCartBtn{
  display: block;
  margin: 10px auto;
}
